<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Core" version="1.11.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights" version="2.17.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.17.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.EventCounterCollector" version="2.17.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.17.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.TraceListener" version="2.17.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.17.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.17.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.WorkerService" version="2.17.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0-preview.2.21154.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.ApplicationInsights" version="2.17.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Graph" version="4.0.0-preview.1" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Graph.Auth" version="1.0.0-preview.6" targetFramework="net461" />
  <package id="Microsoft.Graph.Core" version="2.0.0-preview.8" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Identity.Client" version="4.28.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0-preview.2.21154.6" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Memory.Data" version="6.0.0-preview.2.21154.6" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0-preview.2.21154.6" targetFramework="net461" />
  <package id="System.Security.Claims" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Principal" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="6.0.0-preview.2.21154.6" targetFramework="net461" />
  <package id="System.Text.Json" version="6.0.0-preview.2.21154.6" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
</packages>